/*---------------------------
_links.scss
Links decoration

Created by Andrey Shpigunov on 16.12.2020.
---------------------------*/

// Link colors
$use-classic-links: false !default;
$link-color: #0026bc !default;
$link-color-visited: #630094 !default;
$link-color-hovered: false !default;
$link-border-opacity: 0.2 !default;
$link-underlined: false !default;

a {
	outline: none;
	cursor: pointer;
	color: $link-color;
	text-decoration: none;
	transition: all .1s ease-out;
	
	@if $use-classic-links {
		
		@if $link-underlined {
			text-decoration: underline;
		}
		
		&:visited {
			color: $link-color-visited;
		}
		
		&:hover, &.hover,
		&:active, &.active {
			text-decoration: underline;
			
			@if $link-color-hovered {
				color: $link-color-hovered;
			}
		}
	
		&.pseudo {
			text-decoration-style: dotted;
		}
		
	}
	@else {
		border-bottom: solid 1px rgba($link-color, $link-border-opacity);
	
		&:visited {
			color: $link-color-visited;
			border-color: rgba($link-color-visited, $link-border-opacity);
		}
	
		&:hover, &.hover,
		&:active, &.active {
			
			@if $link-color-hovered {
				color: $link-color-hovered;
				border-color: $link-color-hovered;
			}
			@else {
				color: $link-color;
				border-color: $link-color;
				
				&:visited {
					color: $link-color-visited;
					border-color: $link-color-visited;
				}
			}
		}
	
		&.pseudo {
			border-style: dotted;
		}
	
		&.no-border {
			border: none;
		}
	}
}


// Remove underine from phones
a[href^="tel"],
a[href^="tel"]:hover,
a[href^="tel"]:active {
	color: inherit !important;
	text-decoration: inherit !important;
	border: inherit !important;
}

// Remove double underline from embed Yandex.Maps
ymaps[class*="-copyright"] a {
	border: none !important;
}
