/*-------------------------------------
_variables.css
auto

Created by Andrey Shpigunov on 08.05.2021
Copyright © 2021 . All rights reserved.
-------------------------------------*/


/* PostCSS custom media */

@custom-media --screen-small (max-width: 639px);
@custom-media --screen-medium (max-width: 1023px);
@custom-media --screen-medium-only (min-width: 640px) and (max-width: 1023px);
@custom-media --screen-large (min-width: 1024px);
@custom-media --scheme-dark (prefers-color-scheme: dark);
@custom-media --scheme-light (prefers-color-scheme: light);

/* Using custom media:
   @media (max-width: 639px) -> @media (--screen-small)
   @media (prefers-color-scheme: dark) -> @media (--scheme-dark) */


/* Variables */

:root {
    /* Base variables */
    --line-height: 1.5;
    --font-size: 16px;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
                   Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
                   Segoe UI Symbol;
    --font-family-mono: SFMono-Regular, Consolas, Liberation Mono,
                        Menlo, monospace;
    
    /* Links */
    --link-color: #0366d6;
    --link-color-hovered: #0366d6;
    --link-color-visited: var(--link-color);
    /* --link-color-visited: #630094; */
    
    /* Grid */
    --container-max-width: 1440px;
    
    /* Typo */
    --font-size: 1rem;
    --headers-margin-top: 2rem;
    --headers-margin-bottom: .8rem;
    --headers-font-family: var(--font-family);
    --headers-font-weight: 700;
    --h1-font-size: 2.4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.6rem;
    --h4-font-size: 1.4rem;
    --h5-font-size: 1.1rem;
    --h6-font-size: 1rem;
    --paragraph-margin-bottom: 1.2rem;
    --figcaption-font-size: .9rem;
    --figcaption-color: #999;
    
    /* Forms */
    --forms-width: 400px;
    --forms-padding: .4rem .6rem;
    --forms-font-size: 1rem;
    --forms-border-width: 1px;
    --forms-border-radius: 4px;
    --forms-border-color: #ddd;
    --forms-border-color-focused: #8cf;
    --forms-border-color-error: #f00;
    --forms-border-color-readonly: #ddd;
    --forms-border-color-disabled: #ddd;
    --forms-background-color-readonly: #f8f8f8;
    --forms-background-color-disabled: #f6f6f6;
    --forms-font-color: #000;
    --forms-font-color-readonly: #000;
    --forms-font-color-disabled: #888;
    --forms-font-color-placeholder: #ccc;
    
    /* Buttons */
    --button-padding: .6em 1em;
    --button-font-family: var(--font-family);
    --button-font-size: 1rem;
    --button-font-weight: 400;
    --button-border-radius: 6px;
    --button-transition: all .1s linear;
    
    --button-color: #f3f3f3;
    --button-color-hover: #f8f8f8;
    --button-color-active: #ededed;
    --button-font-color: #000;
    
    --button-primary-color: #0074d9;
    --button-primary-color-hover: #007de2;
    --button-primary-color-active: #006acf;
    --button-primary-font-color: #fff;
    
    --button-success-color: #2ecc40;
    --button-success-color-hover: #38d549;
    --button-success-color-active: #23c249;
    --button-success-font-color: #fff;
    
    --button-danger-color: #ff4136;
    --button-danger-color-hover: #ff4a40;
    --button-danger-color-active: #f5372c;
    --button-danger-font-color: #fff;
    
    --button-warning-color: #ff851b;
    --button-warning-color-hover: #ff8f24;
    --button-warning-color-active: #f57a11;
    --button-warning-font-color: #fff;
    
    /* Modal */
    --modal-background: #fff;
    --modal-box-shadow: 0 6px 30px rgba(0,0,0,.25);
    --modal-border-radius: 8px;
    --modal-closer-color: #ccc;
    --modal-overlay-background-color: rgba(0,0,0,.4);
}
