/*---------------------------
_buttons.scss
Buttons styles.

Created by Andrey Shpigunov on 15.12.2020.
---------------------------*/

$button-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
	sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$button-font-size: 1rem !default;
$button-font-weight: 400 !default;
$button-text-color: black !default;
$button-padding: 0.6em 1em !default;
$button-background-color: #f3f3f3 !default;
$button-border-width: 1px !default;
$button-border-color: transparent !default;
$button-border-radius: 6px !default;
$button-transition: all 0.1s linear !default;

$buttons: (
	primary: #0074D9,
	secondary: #AAAAAA,
	success: #2ECC40,
	danger: #FF4136,
	warning: #FF851B,
	info: #7FDBFF,
	light: #DDDDDD,
	dark: #111111
) !default;

.button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	padding: $button-padding;
	color: $button-text-color;
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	vertical-align: bottom;
	white-space: nowrap;
	line-height: 1;
	text-shadow: none;
	text-transform: none;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	border: solid $button-border-width $button-border-color;
	border-radius: $button-border-radius;
	background: $button-background-color;
	transition: $button-transition;
	user-select: none;
	appearance: none;

	&:hover,
	&.hover {
		text-decoration: none;
		color: $button-text-color;
		border-color: $button-border-color;
		background-color: darken($button-background-color, 3%);
	}

	&:active,
	&.active {
		text-decoration: none;
		color: $button-text-color;
		border-color: $button-border-color;
		background-color: darken($button-background-color, 10%);
	}

	&[disabled],
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.bordered {
		border-color: darken($button-background-color, 6%);
		background: none;

		&:hover,
		&.hover {
			border-color: darken(darken($button-background-color, 6%), 3%);
			background: none;
		}

		&:active,
		&.active {
			border-color: darken(darken($button-background-color, 6%), 10%);
			background: none;
		}
	}

	&.bold {
		font-weight: 700;
	}
	&.xsmall {
		font-size: 0.7rem;
	}
	&.small {
		font-size: 0.9rem;
	}
	&.large {
		font-size: 1.2rem;
	}
	&.xlarge {
		font-size: 1.4rem;
	}

	@each $name, $color in $buttons {
		&.#{$name} {
			color: scss_contrast($color);
			border-color: $color;
			background-color: $color;

			&:hover,
			&.hover {
				color: scss_contrast($color);
				border-color: darken($color, 3%);
				background-color: darken($color, 3%);
			}

			&:active,
			&.active {
				color: scss_contrast($color);
				border-color: darken($color, 10%);
				background-color: darken($color, 10%);
			}

			&.bordered {
				color: $color;
				border: solid 1px $color;
				background: none;

				&:hover,
				&.hover {
					border-color: darken($color, 3%);
					background: none;
				}

				&:active,
				&.active {
					border-color: darken($color, 10%);
					background: none;
				}
			}
		}
	}
}
