/*---------------------------
_grid.scss
Flexbox grid

Created by Andrey Shpigunov on 15.12.2020.
---------------------------*/

.modules {
	display: flex;
	flex-wrap: wrap;

	.module {
		position: relative;
		order: 0;
		flex: 1;
		max-width: 100%;
	}

	&.-nearby {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;

		> .module {
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
		}
	}

	&.-line {
		margin-bottom: 0;

		> .module {
			margin-bottom: 0;
		}
	}
}

.modules-linebreak {
	flex-basis: 100% !important;
	height: 0 !important;
}

.modules-colbreak {
	flex-basis: 100% !important;
	width: 0 !important;
}

@include screen(large) {
	.modules {
		margin-left: -$grid-gutters-large;
		margin-right: -$grid-gutters-large;
		margin-bottom: -$grid-gutters-large * 2;

		> .module {
			padding-left: $grid-gutters-large;
			padding-right: $grid-gutters-large;
			margin-bottom: $grid-gutters-large * 2;

			&.large-0 {
				flex: 0 0 auto;
			}
			&.large-offset-0 {
				margin-left: 0;
			}
			&.large-auto {
				flex: 1 0 auto;
				max-width: none;
			}

			@for $col from 1 through $grid-columns {
				&.large-#{$col} {
					flex-basis: $col / $grid-columns * 100%;
					max-width: $col / $grid-columns * 100%;
				}
				&.large-offset-#{$col} {
					margin-left: $col / $grid-columns * 100%;
				}
				&.large-order-#{$col} {
					order: $col;
				}
			}
		}

		> * {
			&.large-order-first {
				order: -1;
			}
			&.large-order-last {
				order: 9999;
			}
		}
	}
}

@include screen(medium) {
	.modules {
		margin-left: -$grid-gutters-medium;
		margin-right: -$grid-gutters-medium;
		margin-bottom: -$grid-gutters-medium * 2;

		> .module {
			padding-left: $grid-gutters-medium;
			padding-right: $grid-gutters-medium;
			margin-bottom: $grid-gutters-medium * 2;

			&.medium-0 {
				flex: 0 0 auto;
			}
			&.medium-offset-0 {
				margin-left: 0;
			}
			&.medium-auto {
				flex: 1 0 auto;
				max-width: none;
			}

			@for $col from 1 through $grid-columns {
				&.medium-#{$col} {
					flex-basis: $col / $grid-columns * 100%;
					max-width: $col / $grid-columns * 100%;
				}
				&.medium-offset-#{$col} {
					margin-left: $col / $grid-columns * 100%;
				}
				&.medium-order-#{$col} {
					order: $col;
				}
			}
		}

		> * {
			&.medium-order-first {
				order: -1;
			}
			&.medium-order-last {
				order: 9999;
			}
		}
	}
}

@include screen(small) {
	.modules {
		margin-left: -$grid-gutters-small;
		margin-right: -$grid-gutters-small;
		margin-bottom: -$grid-gutters-small * 2;

		> .module {
			padding-left: $grid-gutters-small;
			padding-right: $grid-gutters-small;
			margin-bottom: $grid-gutters-small * 2;

			&.small-0 {
				flex: 0 0 auto;
			}
			&.small-offset-0 {
				margin-left: 0;
			}
			&.small-auto {
				flex: 1 0 auto;
				max-width: none;
			}

			@for $col from 1 through $grid-columns {
				&.small-#{$col} {
					flex-basis: $col / $grid-columns * 100%;
					max-width: $col / $grid-columns * 100%;
				}
				&.small-offset-#{$col} {
					margin-left: $col / $grid-columns * 100%;
				}
				&.small-order-#{$col} {
					order: $col;
				}
			}
		}

		> * {
			&.small-order-first {
				order: -1;
			}
			&.small-order-last {
				order: 9999;
			}
		}
	}
}
