/*---------------------------
_forms.css
auto

Created by andreyshpigunov on 25.05.2021.
---------------------------*/

/* Default form elements styles */

:root {
    --forms-width: 400px;
    --forms-padding: .4rem .6rem;
    --forms-font-size: 1rem;
    --forms-border-width: 1px;
    --forms-border-radius: 4px;
    --forms-border-color: #ddd;
    --forms-border-color-focused: #8cf;
    --forms-border-color-error: #f00;
    --forms-border-color-readonly: #ddd;
    --forms-border-color-disabled: #ddd;
    --forms-background-color-readonly: #f8f8f8;
    --forms-background-color-disabled: #f6f6f6;
    --forms-font-color: #000;
    --forms-font-color-readonly: #000;
    --forms-font-color-disabled: #888;
    --forms-font-color-placeholder: #ccc;
}

input, textarea,
select, button {
    max-width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    box-shadow: none;
}

input:not([type="checkbox"]):not([type="submit"]),
textarea {
    position: relative;
    width: var(--forms-width);
    margin: 0;
    padding: var(--forms-padding);
    font-size: var(--forms-font-size);
    color: var(--forms-font-color);
    outline: none;
    border-width: var(--forms-border-width);
    border-style: solid;
    border-color: var(--forms-border-color);
    border-radius: var(--forms-border-radius);
    appearance: none;
    
    &:focus {
        border-color: var(--forms-border-color-focused);
        box-shadow: 0 0 0 1px var(--forms-border-color-focused);
    }
    &.error {
        border-color: var(--forms-border-color-error);
    }
    &:focus.error {
        border-color: var(--forms-border-color-error);
        box-shadow: 0 0 0 1px var(--forms-border-color-error);
    }
    
    &.max {
        width: 100%;
    }
    &.max100 { width: 100%; max-width: 100px; }
    &.max200 { width: 100%; max-width: 200px; }
    &.max300 { width: 100%; max-width: 300px; }
    &.max400 { width: 100%; max-width: 400px; }
    &.max500 { width: 100%; max-width: 500px; }
    &.max600 { width: 100%; max-width: 600px; }
    &.max700 { width: 100%; max-width: 700px; }
    &.max800 { width: 100%; max-width: 800px; }
}

input:not([type="checkbox"]):not([type="submit"]),
textarea,
select {
    
    &[readonly],
    &[readonly]:focus {
        color: var(--forms-font-color-readonly);
        border-color: var(--forms-border-color-readonly);
        background-color: var(--forms-background-color-readonly);
        box-shadow: none;
    }
    &[disabled],
    &[disabled]:focus {
        color: var(--forms-font-color-disabled);
        border-color: var(--forms-border-color-disabled);
        background-color: var(--forms-background-color-disabled);
        cursor: not-allowed !important;
        box-shadow: none;
    }
}

::placeholder {
    color: var(--forms-font-color-placeholder);
}

input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
    text-overflow: ellipsis;
}
