/*---------------------------
_helpers.css
auto

Created by andreyshpigunov on 25.05.2021.
---------------------------*/

/* Helpers
   Small help for you code. */

:root {
    --container-max-width: 1600px;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}
.unselectable,
.unselectable * {
    user-select: none;
}
.unclickable,
.unclickable * {
    pointer-events: none;
}
.clear::after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}
.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.lowercase {
    text-transform: lowercase;
}
.nowrap {
    white-space: nowrap !important;
}
.wrap {
    white-space: wrap !important;
}
.hyphens {
    hyphens: auto;
}
.pointer {
    cursor: pointer;
}

.sticky { position: sticky; top: 0 }
.t0 { top: 0 !important }
.t1 { top: 0.25rem !important }
.t2 { top: 0.5rem !important }
.t3 { top: 1rem !important }
.t4 { top: 1.5rem !important }
.t5 { top: 2rem !important }
.b0 { bottom: 0 !important }
.b1 { bottom: 0.25rem !important }
.b2 { bottom: 0.5rem !important }
.b3 { bottom: 1rem !important }
.b4 { bottom: 1.5rem !important }
.b5 { bottom: 2rem !important }
@media (min-width: 1024px) {
    .lg\:sticky { position: sticky !important; top: 0 }
    .lg\:t0 { top: 0 !important }
    .lg\:t1 { top: 0.25rem !important }
    .lg\:t2 { top: 0.5rem !important }
    .lg\:t3 { top: 1rem !important }
    .lg\:t4 { top: 1.5rem !important }
    .lg\:t5 { top: 2rem !important }
    .lg\:b0 { bottom: 0 !important }
    .lg\:b1 { bottom: 0.25rem !important }
    .lg\:b2 { bottom: 0.5rem !important }
    .lg\:b3 { bottom: 1rem !important }
    .lg\:b4 { bottom: 1.5rem !important }
    .lg\:b5 { bottom: 2rem !important }
}
@media (min-width: 640px) and (max-width: 1023px) {
    .md\:sticky { position: sticky !important; top: 0 }
    .md\:t0 { top: 0 !important }
    .md\:t1 { top: 0.25rem !important }
    .md\:t2 { top: 0.5rem !important }
    .md\:t3 { top: 1rem !important }
    .md\:t4 { top: 1.5rem !important }
    .md\:t5 { top: 2rem !important }
    .md\:b0 { bottom: 0 !important }
    .md\:b1 { bottom: 0.25rem !important }
    .md\:b2 { bottom: 0.5rem !important }
    .md\:b3 { bottom: 1rem !important }
    .md\:b4 { bottom: 1.5rem !important }
    .md\:b5 { bottom: 2rem !important }
}
@media (max-width: 639px) {
    .sm\:sticky { position: sticky !important; top: 0 }
    .sm\:t0 { top: 0 !important }
    .sm\:t1 { top: 0.25rem !important }
    .sm\:t2 { top: 0.5rem !important }
    .sm\:t3 { top: 1rem !important }
    .sm\:t4 { top: 1.5rem !important }
    .sm\:t5 { top: 2rem !important }
    .sm\:b0 { bottom: 0 !important }
    .sm\:b1 { bottom: 0.25rem !important }
    .sm\:b2 { bottom: 0.5rem !important }
    .sm\:b3 { bottom: 1rem !important }
    .sm\:b4 { bottom: 1.5rem !important }
    .sm\:b5 { bottom: 2rem !important }
}

.ratio,
.ratio1x1,
.ratio2x1,
.ratio3x2,
.ratio4x3,
.ratio16x9 {
    overflow: hidden;
    position: relative;
    height: 0;
    
    & iframe,
    & object,
    & embed,
    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    & img {
        object-fit: cover;
    }
}
.ratio1x1 { padding-bottom: 100% }
.ratio2x1 { padding-bottom: 50% }
.ratio3x2 { padding-bottom: 66.67% }
.ratio4x3 { padding-bottom: 75% }
.ratio16x9 { padding-bottom: 56.25% }

.breakWord {
    overflow-wrap: anywhere;
    word-break: break-word;
}
.visuallyHidden {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.invisible {
    visibility: hidden !important;
}

.scrollResponsive,
.tableResponsive {
    overflow-x: auto;
}

.hidden,
.hiddenNext + * {
    display: none !important;
}
@media (min-width: 1024px) {
    .lg\:hidden,
    .lg\:hiddenNext + * {
        display: none !important;
    }
}
@media (min-width: 640px) and (max-width: 1023px) {
    .md\:hidden,
    .md\:hiddenNext + * {
        display: none !important;
    }
}
@media (max-width: 639px) {
    .sm\:hidden,
    .sm\:hiddenNext + * {
        display: none !important;
    }
}

.w100 { width: 100% }
.h100 { height: 100% }

.max {
    width: 100% !important;
    max-width: 100% !important;
}
.max50 { max-width: 50px !important }
.max60 { max-width: 60px !important }
.max70 { max-width: 70px !important }
.max80 { max-width: 80px !important }
.max90 { max-width: 90px !important }
.max100 { max-width: 100px !important }
.max110 { max-width: 110px !important }
.max120 { max-width: 120px !important }
.max140 { max-width: 140px !important }
.max160 { max-width: 160px !important }
.max180 { max-width: 180px !important }
.max200 { max-width: 200px !important }
.max300 { max-width: 300px !important }
.max400 { max-width: 400px !important }
.max500 { max-width: 500px !important }
.max600 { max-width: 600px !important }
.max700 { max-width: 700px !important }
.max800 { max-width: 800px !important }
.max900 { max-width: 900px !important }
.max1000 { max-width: 1000px !important }
.max1100 { max-width: 1100px !important }
.max1200 { max-width: 1200px !important }
.max1300 { max-width: 1300px !important }
.max1400 { max-width: 1400px !important }


.block { display: block }
.inline { display: inline }
.inlineBlock { display: inline-block }

.fsxxl { font-size: 1.5rem !important }
.fsxl { font-size: 1.3rem !important }
.fsl { font-size: 1.15rem !important }
.fsn { font-size: var(--font-size) !important }
.fss { font-size: .9rem !important }
.fsxs { font-size: .8rem !important }
.fsxxs { font-size: .7rem !important }

.fw100 { font-weight: 100 !important }
.fw200 { font-weight: 200 !important }
.fw300 { font-weight: 300 !important }
.fw400 { font-weight: 400 !important }
.fw500 { font-weight: 500 !important }
.fw600 { font-weight: 600 !important }
.fw700 { font-weight: 700 !important }
.fw800 { font-weight: 800 !important }
.fw900 { font-weight: 900 !important }

.al { text-align: left }
.ar { text-align: right }
.ac { text-align: center }
.aj { text-align: justify }
.fl { float: left }
.fr { float: right }

.m0 { margin: 0 !important }
.m1 { margin: 0.25rem !important }
.m2 { margin: 0.5rem !important }
.m3 { margin: 1rem !important }
.m4 { margin: 1.5rem !important }
.m5 { margin: 2rem !important }
.m6 { margin: 2.5rem !important }
.m7 { margin: 3rem !important }
.m8 { margin: 4rem !important }
.m9 { margin: 5rem !important }
.m10 { margin: 6rem !important }
.ma { margin: auto !important }

.mx0 { margin-left: 0 !important; margin-right: 0 !important }
.mx1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important }
.mx2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important }
.mx3 { margin-left: 1rem !important; margin-right: 1rem !important }
.mx4 { margin-left: 1.5rem !important; margin-right: 1.5rem !important }
.mx5 { margin-left: 2rem !important; margin-right: 2rem !important }
.mx6 { margin-left: 2.5rem !important; margin-right: 2.5rem !important }
.mx7 { margin-left: 3rem !important; margin-right: 3rem !important }
.mx8 { margin-left: 4rem !important; margin-right: 4rem !important }
.mx9 { margin-left: 5rem !important; margin-right: 5rem !important }
.mx10 { margin-left: 6rem !important; margin-right: 6rem !important }
.mxa { margin-left: auto !important; margin-right: auto !important }

.my0 { margin-top: 0 !important; margin-bottom: 0 !important }
.my1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important }
.my2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important }
.my3 { margin-top: 1rem !important; margin-bottom: 1rem !important }
.my4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important }
.my5 { margin-top: 2rem !important; margin-bottom: 2rem !important }
.my6 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important }
.my7 { margin-top: 3rem !important; margin-bottom: 3rem !important }
.my8 { margin-top: 4rem !important; margin-bottom: 4rem !important }
.my9 { margin-top: 5rem !important; margin-bottom: 5rem !important }
.my10 { margin-top: 6rem !important; margin-bottom: 6rem !important }
.mya { margin-top: auto !important; margin-bottom: auto !important }

.mt0 { margin-top: 0 !important }
.mt1 { margin-top: 0.25rem !important }
.mt2 { margin-top: 0.5rem !important }
.mt3 { margin-top: 1rem !important }
.mt4 { margin-top: 1.5rem !important }
.mt5 { margin-top: 2rem !important }
.mt6 { margin-top: 2.5rem !important }
.mt7 { margin-top: 3rem !important }
.mt8 { margin-top: 4rem !important }
.mt9 { margin-top: 5rem !important }
.mt10 { margin-top: 6rem !important }
.mta { margin-top: auto !important }

.mb0 { margin-bottom: 0 !important }
.mb1 { margin-bottom: 0.25rem !important }
.mb2 { margin-bottom: 0.5rem !important }
.mb3 { margin-bottom: 1rem !important }
.mb4 { margin-bottom: 1.5rem !important }
.mb5 { margin-bottom: 2rem !important }
.mb6 { margin-bottom: 2.5rem !important }
.mb7 { margin-bottom: 3rem !important }
.mb8 { margin-bottom: 4rem !important }
.mb9 { margin-bottom: 5rem !important }
.mb10 { margin-bottom: 6rem !important }
.mba { margin-bottom: auto !important }

.ml0 { margin-left: 0 !important }
.ml1 { margin-left: 0.25rem !important }
.ml2 { margin-left: 0.5rem !important }
.ml3 { margin-left: 1rem !important }
.ml4 { margin-left: 1.5rem !important }
.ml5 { margin-left: 2rem !important }
.ml6 { margin-left: 2.5rem !important }
.ml7 { margin-left: 3rem !important }
.ml8 { margin-left: 4rem !important }
.ml9 { margin-left: 5rem !important }
.ml10 { margin-left: 6rem !important }
.mla { margin-left: auto !important }

.mr0 { margin-right: 0 !important }
.mr1 { margin-right: 0.25rem !important }
.mr2 { margin-right: 0.5rem !important }
.mr3 { margin-right: 1rem !important }
.mr4 { margin-right: 1.5rem !important }
.mr5 { margin-right: 2rem !important }
.mr6 { margin-right: 2.5rem !important }
.mr7 { margin-right: 3rem !important }
.mr8 { margin-right: 4rem !important }
.mr9 { margin-right: 5rem !important }
.mr10 { margin-right: 6rem !important }
.mra { margin-right: auto !important }

.p0 { padding: 0 !important }
.p1 { padding: 0.25rem !important }
.p2 { padding: 0.5rem !important }
.p3 { padding: 1rem !important }
.p4 { padding: 1.5rem !important }
.p5 { padding: 2rem !important }
.p6 { padding: 2.5rem !important }
.p7 { padding: 3rem !important }
.p8 { padding: 4rem !important }
.p9 { padding: 5rem !important }
.p10 { padding: 6rem !important }

.px0 { padding-left: 0 !important; padding-right: 0 !important }
.px1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important }
.px2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important }
.px3 { padding-left: 1rem !important; padding-right: 1rem !important }
.px4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important }
.px5 { padding-left: 2rem !important; padding-right: 2rem !important }
.px6 { padding-left: 2.5rem !important; padding-right: 2.5rem !important }
.px7 { padding-left: 3rem !important; padding-right: 3rem !important }
.px8 { padding-left: 4rem !important; padding-right: 4rem !important }
.px9 { padding-left: 5rem !important; padding-right: 5rem !important }
.px10 { padding-left: 6rem !important; padding-right: 6rem !important }

.py0 { padding-top: 0 !important; padding-bottom: 0 !important }
.py1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important }
.py2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important }
.py3 { padding-top: 1rem !important; padding-bottom: 1rem !important }
.py4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important }
.py5 { padding-top: 2rem !important; padding-bottom: 2rem !important }
.py6 { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important }
.py7 { padding-top: 3rem !important; padding-bottom: 3rem !important }
.py8 { padding-top: 4rem !important; padding-bottom: 4rem !important }
.py9 { padding-top: 5rem !important; padding-bottom: 5rem !important }
.py10 { padding-top: 6rem !important; padding-bottom: 6rem !important }

.pt0 { padding-top: 0 !important }
.pt1 { padding-top: 0.25rem !important }
.pt2 { padding-top: 0.5rem !important }
.pt3 { padding-top: 1rem !important }
.pt4 { padding-top: 1.5rem !important }
.pt5 { padding-top: 2rem !important }
.pt6 { padding-top: 2.5rem !important }
.pt7 { padding-top: 3rem !important }
.pt8 { padding-top: 4rem !important }
.pt9 { padding-top: 5rem !important }
.pt10 { padding-top: 6rem !important }

.pb0 { padding-bottom: 0 !important }
.pb1 { padding-bottom: 0.25rem !important }
.pb2 { padding-bottom: 0.5rem !important }
.pb3 { padding-bottom: 1rem !important }
.pb4 { padding-bottom: 1.5rem !important }
.pb5 { padding-bottom: 2rem !important }
.pb6 { padding-bottom: 2.5rem !important }
.pb7 { padding-bottom: 3rem !important }
.pb8 { padding-bottom: 4rem !important }
.pb9 { padding-bottom: 5rem !important }
.pb10 { padding-bottom: 6rem !important }

.pl0 { padding-left: 0 !important }
.pl1 { padding-left: 0.25rem !important }
.pl2 { padding-left: 0.5rem !important }
.pl3 { padding-left: 1rem !important }
.pl4 { padding-left: 1.5rem !important }
.pl5 { padding-left: 2rem !important }
.pl6 { padding-left: 2.5rem !important }
.pl7 { padding-left: 3rem !important }
.pl8 { padding-left: 4rem !important }
.pl9 { padding-left: 5rem !important }
.pl10 { padding-left: 6rem !important }

.pr0 { padding-right: 0 !important }
.pr1 { padding-right: 0.25rem !important }
.pr2 { padding-right: 0.5rem !important }
.pr3 { padding-right: 1rem !important }
.pr4 { padding-right: 1.5rem !important }
.pr5 { padding-right: 2rem !important }
.pr6 { padding-right: 2.5rem !important }
.pr7 { padding-right: 3rem !important }
.pr8 { padding-right: 4rem !important }
.pr9 { padding-right: 5rem !important }
.pr10 { padding-right: 6rem !important }

.r0 { border-radius: 0 !important }
.r1 { border-radius: 2px !important }
.r2 { border-radius: 4px !important }
.r3 { border-radius: 6px !important }
.r4 { border-radius: 8px !important }
.r5 { border-radius: 10px !important }
.r6 { border-radius: 12px !important }
.r7 { border-radius: 16px !important }
.r8 { border-radius: 20px !important }
.r9 { border-radius: 26px !important }
.r10 { border-radius: 32px !important }
.r100 { border-radius: 100% !important }

.sh0 { box-shadow: none }
.sh1 { box-shadow: 0 4px 20px rgba(0,0,0,.05) }
.sh2 { box-shadow: 0 4px 20px rgba(0,0,0,.1) }
.sh3 { box-shadow: 0 4px 20px rgba(0,0,0,.15) }
.sh4 { box-shadow: 0 4px 20px rgba(0,0,0,.2) }

.o0 { order: 0 }
.o1 { order: 1 }
.o2 { order: 2 }
.o3 { order: 3 }
.o4 { order: 4 }
.o5 { order: 5 }
.o6 { order: 6 }
.o7 { order: 7 }
.o8 { order: 8 }
.o9 { order: 9 }
.o10 { order: 10 }

@media (max-width: 1023px) {
    
    .md\:max {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .md\:block { display: block }
    .md\:inline { display: inline }
    .md\:inlineBlock { display: inline-block }
    
    .md\:fsxxl { font-size: 1.5rem !important }
    .md\:fsxl { font-size: 1.3rem !important }
    .md\:fsl { font-size: 1.15rem !important }
    .md\:fsn { font-size: var(--font-size) !important }
    .md\:fss { font-size: .9rem !important }
    .md\:fsxs { font-size: .8rem !important }
    .md\:fsxxs { font-size: .7rem !important }
    
    .md\:al { text-align: left }
    .md\:ar { text-align: right }
    .md\:ac { text-align: center }
    .md\:aj { text-align: justify }
    .md\:fl { float: left }
    .md\:fr { float: right }
    
    .md\:m0 { margin: 0 !important }
    .md\:m1 { margin: 0.25rem !important }
    .md\:m2 { margin: 0.5rem !important }
    .md\:m3 { margin: 1rem !important }
    .md\:m4 { margin: 1.5rem !important }
    .md\:m5 { margin: 2rem !important }
    .md\:m6 { margin: 2.5rem !important }
    .md\:m7 { margin: 3rem !important }
    .md\:m8 { margin: 4rem !important }
    .md\:m9 { margin: 5rem !important }
    .md\:m10 { margin: 6rem !important }
    .md\:ma { margin: auto !important }
    
    .md\:mx0 { margin-left: 0 !important; margin-right: 0 !important }
    .md\:mx1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important }
    .md\:mx2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important }
    .md\:mx3 { margin-left: 1rem !important; margin-right: 1rem !important }
    .md\:mx4 { margin-left: 1.5rem !important; margin-right: 1.5rem !important }
    .md\:mx5 { margin-left: 2rem !important; margin-right: 2rem !important }
    .md\:mx6 { margin-left: 2.5rem !important; margin-right: 2.5rem !important }
    .md\:mx7 { margin-left: 3rem !important; margin-right: 3rem !important }
    .md\:mx8 { margin-left: 4rem !important; margin-right: 4rem !important }
    .md\:mx9 { margin-left: 5rem !important; margin-right: 5rem !important }
    .md\:mx10 { margin-left: 6rem !important; margin-right: 6rem !important }
    .md\:mxa { margin-left: auto !important; margin-right: auto !important }
    
    .md\:my0 { margin-top: 0 !important; margin-bottom: 0 !important }
    .md\:my1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important }
    .md\:my2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important }
    .md\:my3 { margin-top: 1rem !important; margin-bottom: 1rem !important }
    .md\:my4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important }
    .md\:my5 { margin-top: 2rem !important; margin-bottom: 2rem !important }
    .md\:my6 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important }
    .md\:my7 { margin-top: 3rem !important; margin-bottom: 3rem !important }
    .md\:my8 { margin-top: 4rem !important; margin-bottom: 4rem !important }
    .md\:my9 { margin-top: 5rem !important; margin-bottom: 5rem !important }
    .md\:my10 { margin-top: 6rem !important; margin-bottom: 6rem !important }
    .md\:mya { margin-top: auto !important; margin-bottom: auto !important }
    
    .md\:mt0 { margin-top: 0 !important }
    .md\:mt1 { margin-top: 0.25rem !important }
    .md\:mt2 { margin-top: 0.5rem !important }
    .md\:mt3 { margin-top: 1rem !important }
    .md\:mt4 { margin-top: 1.5rem !important }
    .md\:mt5 { margin-top: 2rem !important }
    .md\:mt6 { margin-top: 2.5rem !important }
    .md\:mt7 { margin-top: 3rem !important }
    .md\:mt8 { margin-top: 4rem !important }
    .md\:mt9 { margin-top: 5rem !important }
    .md\:mt10 { margin-top: 6rem !important }
    .md\:mta { margin-top: auto !important }
    
    .md\:mb0 { margin-bottom: 0 !important }
    .md\:mb1 { margin-bottom: 0.25rem !important }
    .md\:mb2 { margin-bottom: 0.5rem !important }
    .md\:mb3 { margin-bottom: 1rem !important }
    .md\:mb4 { margin-bottom: 1.5rem !important }
    .md\:mb5 { margin-bottom: 2rem !important }
    .md\:mb6 { margin-bottom: 2.5rem !important }
    .md\:mb7 { margin-bottom: 3rem !important }
    .md\:mb8 { margin-bottom: 4rem !important }
    .md\:mb9 { margin-bottom: 5rem !important }
    .md\:mb10 { margin-bottom: 6rem !important }
    .md\:mba { margin-bottom: auto !important }
    
    .md\:ml0 { margin-left: 0 !important }
    .md\:ml1 { margin-left: 0.25rem !important }
    .md\:ml2 { margin-left: 0.5rem !important }
    .md\:ml3 { margin-left: 1rem !important }
    .md\:ml4 { margin-left: 1.5rem !important }
    .md\:ml5 { margin-left: 2rem !important }
    .md\:ml6 { margin-left: 2.5rem !important }
    .md\:ml7 { margin-left: 3rem !important }
    .md\:ml8 { margin-left: 4rem !important }
    .md\:ml9 { margin-left: 5rem !important }
    .md\:ml10 { margin-left: 6rem !important }
    .md\:mla { margin-left: auto !important }
    
    .md\:mr0 { margin-right: 0 !important }
    .md\:mr1 { margin-right: 0.25rem !important }
    .md\:mr2 { margin-right: 0.5rem !important }
    .md\:mr3 { margin-right: 1rem !important }
    .md\:mr4 { margin-right: 1.5rem !important }
    .md\:mr5 { margin-right: 2rem !important }
    .md\:mr6 { margin-right: 2.5rem !important }
    .md\:mr7 { margin-right: 3rem !important }
    .md\:mr8 { margin-right: 4rem !important }
    .md\:mr9 { margin-right: 5rem !important }
    .md\:mr10 { margin-right: 6rem !important }
    .md\:mra { margin-right: auto !important }
    
    .md\:p0 { padding: 0 !important }
    .md\:p1 { padding: 0.25rem !important }
    .md\:p2 { padding: 0.5rem !important }
    .md\:p3 { padding: 1rem !important }
    .md\:p4 { padding: 1.5rem !important }
    .md\:p5 { padding: 2rem !important }
    .md\:p6 { padding: 2.5rem !important }
    .md\:p7 { padding: 3rem !important }
    .md\:p8 { padding: 4rem !important }
    .md\:p9 { padding: 5rem !important }
    .md\:p10 { padding: 6rem !important }
    
    .md\:px0 { padding-left: 0 !important; padding-right: 0 !important }
    .md\:px1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important }
    .md\:px2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important }
    .md\:px3 { padding-left: 1rem !important; padding-right: 1rem !important }
    .md\:px4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important }
    .md\:px5 { padding-left: 2rem !important; padding-right: 2rem !important }
    .md\:px6 { padding-left: 2.5rem !important; padding-right: 2.5rem !important }
    .md\:px7 { padding-left: 3rem !important; padding-right: 3rem !important }
    .md\:px8 { padding-left: 4rem !important; padding-right: 4rem !important }
    .md\:px9 { padding-left: 5rem !important; padding-right: 5rem !important }
    .md\:px10 { padding-left: 6rem !important; padding-right: 6rem !important }
    
    .md\:py0 { padding-top: 0 !important; padding-bottom: 0 !important }
    .md\:py1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important }
    .md\:py2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important }
    .md\:py3 { padding-top: 1rem !important; padding-bottom: 1rem !important }
    .md\:py4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important }
    .md\:py5 { padding-top: 2rem !important; padding-bottom: 2rem !important }
    .md\:py6 { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important }
    .md\:py7 { padding-top: 3rem !important; padding-bottom: 3rem !important }
    .md\:py8 { padding-top: 4rem !important; padding-bottom: 4rem !important }
    .md\:py9 { padding-top: 5rem !important; padding-bottom: 5rem !important }
    .md\:py10 { padding-top: 6rem !important; padding-bottom: 6rem !important }
    
    .md\:pt0 { padding-top: 0 !important }
    .md\:pt1 { padding-top: 0.25rem !important }
    .md\:pt2 { padding-top: 0.5rem !important }
    .md\:pt3 { padding-top: 1rem !important }
    .md\:pt4 { padding-top: 1.5rem !important }
    .md\:pt5 { padding-top: 2rem !important }
    .md\:pt6 { padding-top: 2.5rem !important }
    .md\:pt7 { padding-top: 3rem !important }
    .md\:pt8 { padding-top: 4rem !important }
    .md\:pt9 { padding-top: 5rem !important }
    .md\:pt10 { padding-top: 6rem !important }
    
    .md\:pb0 { padding-bottom: 0 !important }
    .md\:pb1 { padding-bottom: 0.25rem !important }
    .md\:pb2 { padding-bottom: 0.5rem !important }
    .md\:pb3 { padding-bottom: 1rem !important }
    .md\:pb4 { padding-bottom: 1.5rem !important }
    .md\:pb5 { padding-bottom: 2rem !important }
    .md\:pb6 { padding-bottom: 2.5rem !important }
    .md\:pb7 { padding-bottom: 3rem !important }
    .md\:pb8 { padding-bottom: 4rem !important }
    .md\:pb9 { padding-bottom: 5rem !important }
    .md\:pb10 { padding-bottom: 6rem !important }
    
    .md\:pl0 { padding-left: 0 !important }
    .md\:pl1 { padding-left: 0.25rem !important }
    .md\:pl2 { padding-left: 0.5rem !important }
    .md\:pl3 { padding-left: 1rem !important }
    .md\:pl4 { padding-left: 1.5rem !important }
    .md\:pl5 { padding-left: 2rem !important }
    .md\:pl6 { padding-left: 2.5rem !important }
    .md\:pl7 { padding-left: 3rem !important }
    .md\:pl8 { padding-left: 4rem !important }
    .md\:pl9 { padding-left: 5rem !important }
    .md\:pl10 { padding-left: 6rem !important }
    
    .md\:pr0 { padding-right: 0 !important }
    .md\:pr1 { padding-right: 0.25rem !important }
    .md\:pr2 { padding-right: 0.5rem !important }
    .md\:pr3 { padding-right: 1rem !important }
    .md\:pr4 { padding-right: 1.5rem !important }
    .md\:pr5 { padding-right: 2rem !important }
    .md\:pr6 { padding-right: 2.5rem !important }
    .md\:pr7 { padding-right: 3rem !important }
    .md\:pr8 { padding-right: 4rem !important }
    .md\:pr9 { padding-right: 5rem !important }
    .md\:pr10 { padding-right: 6rem !important }
    
    .md\:r0 { border-radius: 0 }
    .md\:r1 { border-radius: 2px }
    .md\:r2 { border-radius: 4px }
    .md\:r3 { border-radius: 6px }
    .md\:r4 { border-radius: 8px }
    .md\:r5 { border-radius: 10px }
    .md\:r6 { border-radius: 12px }
    .md\:r7 { border-radius: 16px }
    .md\:r8 { border-radius: 20px }
    .md\:r9 { border-radius: 26px }
    .md\:r10 { border-radius: 32px }
    .md\:r100 { border-radius: 100% }
    
    .md\:sh0 { box-shadow: none }
    .md\:sh1 { box-shadow: 0 4px 20px rgba(0,0,0,.05) }
    .md\:sh2 { box-shadow: 0 4px 20px rgba(0,0,0,.1) }
    .md\:sh3 { box-shadow: 0 4px 20px rgba(0,0,0,.15) }
    .md\:sh4 { box-shadow: 0 4px 20px rgba(0,0,0,.2) }
    
    .md\:o0 { order: 0 }
    .md\:o1 { order: 1 }
    .md\:o2 { order: 2 }
    .md\:o3 { order: 3 }
    .md\:o4 { order: 4 }
    .md\:o5 { order: 5 }
    .md\:o6 { order: 6 }
    .md\:o7 { order: 7 }
    .md\:o8 { order: 8 }
    .md\:o9 { order: 9 }
    .md\:o10 { order: 10 }
}

@media (max-width: 639px) {
    
    .sm\:max {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .sm\:block { display: block }
    .sm\:inline { display: inline }
    .sm\:inlineBlock { display: inline-block }
    
    .sm\:fsxxl { font-size: 1.5rem !important }
    .sm\:fsxl { font-size: 1.3rem !important }
    .sm\:fsl { font-size: 1.15rem !important }
    .sm\:fsn { font-size: var(--font-size) !important }
    .sm\:fss { font-size: .9rem !important }
    .sm\:fsxs { font-size: .8rem !important }
    .sm\:fsxxs { font-size: .7rem !important }
    
    .sm\:al { text-align: left }
    .sm\:ar { text-align: right }
    .sm\:ac { text-align: center }
    .sm\:aj { text-align: justify }
    .sm\:fl { float: left }
    .sm\:fr { float: right }
    
    .sm\:m0 { margin: 0 !important }
    .sm\:m1 { margin: 0.25rem !important }
    .sm\:m2 { margin: 0.5rem !important }
    .sm\:m3 { margin: 1rem !important }
    .sm\:m4 { margin: 1.5rem !important }
    .sm\:m5 { margin: 2rem !important }
    .sm\:m6 { margin: 2.5rem !important }
    .sm\:m7 { margin: 3rem !important }
    .sm\:m8 { margin: 4rem !important }
    .sm\:m9 { margin: 5rem !important }
    .sm\:m10 { margin: 6rem !important }
    .sm\:ma { margin: auto !important }
    
    .sm\:mx0 { margin-left: 0 !important; margin-right: 0 !important }
    .sm\:mx1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important }
    .sm\:mx2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important }
    .sm\:mx3 { margin-left: 1rem !important; margin-right: 1rem !important }
    .sm\:mx4 { margin-left: 1.5rem !important; margin-right: 1.5rem !important }
    .sm\:mx5 { margin-left: 2rem !important; margin-right: 2rem !important }
    .sm\:mx6 { margin-left: 2.5rem !important; margin-right: 2.5rem !important }
    .sm\:mx7 { margin-left: 3rem !important; margin-right: 3rem !important }
    .sm\:mx8 { margin-left: 4rem !important; margin-right: 4rem !important }
    .sm\:mx9 { margin-left: 5rem !important; margin-right: 5rem !important }
    .sm\:mx10 { margin-left: 6rem !important; margin-right: 6rem !important }
    .sm\:mxa { margin-left: auto !important; margin-right: auto !important }
    
    .sm\:my0 { margin-top: 0 !important; margin-bottom: 0 !important }
    .sm\:my1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important }
    .sm\:my2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important }
    .sm\:my3 { margin-top: 1rem !important; margin-bottom: 1rem !important }
    .sm\:my4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important }
    .sm\:my5 { margin-top: 2rem !important; margin-bottom: 2rem !important }
    .sm\:my6 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important }
    .sm\:my7 { margin-top: 3rem !important; margin-bottom: 3rem !important }
    .sm\:my8 { margin-top: 4rem !important; margin-bottom: 4rem !important }
    .sm\:my9 { margin-top: 5rem !important; margin-bottom: 5rem !important }
    .sm\:my10 { margin-top: 6rem !important; margin-bottom: 6rem !important }
    .sm\:mya { margin-top: auto !important; margin-bottom: auto !important }
    
    .sm\:mt0 { margin-top: 0 !important }
    .sm\:mt1 { margin-top: 0.25rem !important }
    .sm\:mt2 { margin-top: 0.5rem !important }
    .sm\:mt3 { margin-top: 1rem !important }
    .sm\:mt4 { margin-top: 1.5rem !important }
    .sm\:mt5 { margin-top: 2rem !important }
    .sm\:mt6 { margin-top: 2.5rem !important }
    .sm\:mt7 { margin-top: 3rem !important }
    .sm\:mt8 { margin-top: 4rem !important }
    .sm\:mt9 { margin-top: 5rem !important }
    .sm\:mt10 { margin-top: 6rem !important }
    .sm\:mta { margin-top: auto !important }
    
    .sm\:mb0 { margin-bottom: 0 !important }
    .sm\:mb1 { margin-bottom: 0.25rem !important }
    .sm\:mb2 { margin-bottom: 0.5rem !important }
    .sm\:mb3 { margin-bottom: 1rem !important }
    .sm\:mb4 { margin-bottom: 1.5rem !important }
    .sm\:mb5 { margin-bottom: 2rem !important }
    .sm\:mb6 { margin-bottom: 2.5rem !important }
    .sm\:mb7 { margin-bottom: 3rem !important }
    .sm\:mb8 { margin-bottom: 4rem !important }
    .sm\:mb9 { margin-bottom: 5rem !important }
    .sm\:mb10 { margin-bottom: 6rem !important }
    .sm\:mba { margin-bottom: auto !important }
    
    .sm\:ml0 { margin-left: 0 !important }
    .sm\:ml1 { margin-left: 0.25rem !important }
    .sm\:ml2 { margin-left: 0.5rem !important }
    .sm\:ml3 { margin-left: 1rem !important }
    .sm\:ml4 { margin-left: 1.5rem !important }
    .sm\:ml5 { margin-left: 2rem !important }
    .sm\:ml6 { margin-left: 2.5rem !important }
    .sm\:ml7 { margin-left: 3rem !important }
    .sm\:ml8 { margin-left: 4rem !important }
    .sm\:ml9 { margin-left: 5rem !important }
    .sm\:ml10 { margin-left: 6rem !important }
    .sm\:mla { margin-left: auto !important }
    
    .sm\:mr0 { margin-right: 0 !important }
    .sm\:mr1 { margin-right: 0.25rem !important }
    .sm\:mr2 { margin-right: 0.5rem !important }
    .sm\:mr3 { margin-right: 1rem !important }
    .sm\:mr4 { margin-right: 1.5rem !important }
    .sm\:mr5 { margin-right: 2rem !important }
    .sm\:mr6 { margin-right: 2.5rem !important }
    .sm\:mr7 { margin-right: 3rem !important }
    .sm\:mr8 { margin-right: 4rem !important }
    .sm\:mr9 { margin-right: 5rem !important }
    .sm\:mr10 { margin-right: 6rem !important }
    .sm\:mra { margin-right: auto !important }
    
    .sm\:p0 { padding: 0 !important }
    .sm\:p1 { padding: 0.25rem !important }
    .sm\:p2 { padding: 0.5rem !important }
    .sm\:p3 { padding: 1rem !important }
    .sm\:p4 { padding: 1.5rem !important }
    .sm\:p5 { padding: 2rem !important }
    .sm\:p6 { padding: 2.5rem !important }
    .sm\:p7 { padding: 3rem !important }
    .sm\:p8 { padding: 4rem !important }
    .sm\:p9 { padding: 5rem !important }
    .sm\:p10 { padding: 6rem !important }
    
    .sm\:px0 { padding-left: 0 !important; padding-right: 0 !important }
    .sm\:px1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important }
    .sm\:px2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important }
    .sm\:px3 { padding-left: 1rem !important; padding-right: 1rem !important }
    .sm\:px4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important }
    .sm\:px5 { padding-left: 2rem !important; padding-right: 2rem !important }
    .sm\:px6 { padding-left: 2.5rem !important; padding-right: 2.5rem !important }
    .sm\:px7 { padding-left: 3rem !important; padding-right: 3rem !important }
    .sm\:px8 { padding-left: 4rem !important; padding-right: 4rem !important }
    .sm\:px9 { padding-left: 5rem !important; padding-right: 5rem !important }
    .sm\:px10 { padding-left: 6rem !important; padding-right: 6rem !important }
    
    .sm\:py0 { padding-top: 0 !important; padding-bottom: 0 !important }
    .sm\:py1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important }
    .sm\:py2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important }
    .sm\:py3 { padding-top: 1rem !important; padding-bottom: 1rem !important }
    .sm\:py4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important }
    .sm\:py5 { padding-top: 2rem !important; padding-bottom: 2rem !important }
    .sm\:py6 { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important }
    .sm\:py7 { padding-top: 3rem !important; padding-bottom: 3rem !important }
    .sm\:py8 { padding-top: 4rem !important; padding-bottom: 4rem !important }
    .sm\:py9 { padding-top: 5rem !important; padding-bottom: 5rem !important }
    .sm\:py10 { padding-top: 6rem !important; padding-bottom: 6rem !important }
    
    .sm\:pt0 { padding-top: 0 !important }
    .sm\:pt1 { padding-top: 0.25rem !important }
    .sm\:pt2 { padding-top: 0.5rem !important }
    .sm\:pt3 { padding-top: 1rem !important }
    .sm\:pt4 { padding-top: 1.5rem !important }
    .sm\:pt5 { padding-top: 2rem !important }
    .sm\:pt6 { padding-top: 2.5rem !important }
    .sm\:pt7 { padding-top: 3rem !important }
    .sm\:pt8 { padding-top: 4rem !important }
    .sm\:pt9 { padding-top: 5rem !important }
    .sm\:pt10 { padding-top: 6rem !important }
    
    .sm\:pb0 { padding-bottom: 0 !important }
    .sm\:pb1 { padding-bottom: 0.25rem !important }
    .sm\:pb2 { padding-bottom: 0.5rem !important }
    .sm\:pb3 { padding-bottom: 1rem !important }
    .sm\:pb4 { padding-bottom: 1.5rem !important }
    .sm\:pb5 { padding-bottom: 2rem !important }
    .sm\:pb6 { padding-bottom: 2.5rem !important }
    .sm\:pb7 { padding-bottom: 3rem !important }
    .sm\:pb8 { padding-bottom: 4rem !important }
    .sm\:pb9 { padding-bottom: 5rem !important }
    .sm\:pb10 { padding-bottom: 6rem !important }
    
    .sm\:pl0 { padding-left: 0 !important }
    .sm\:pl1 { padding-left: 0.25rem !important }
    .sm\:pl2 { padding-left: 0.5rem !important }
    .sm\:pl3 { padding-left: 1rem !important }
    .sm\:pl4 { padding-left: 1.5rem !important }
    .sm\:pl5 { padding-left: 2rem !important }
    .sm\:pl6 { padding-left: 2.5rem !important }
    .sm\:pl7 { padding-left: 3rem !important }
    .sm\:pl8 { padding-left: 4rem !important }
    .sm\:pl9 { padding-left: 5rem !important }
    .sm\:pl10 { padding-left: 6rem !important }
    
    .sm\:pr0 { padding-right: 0 !important }
    .sm\:pr1 { padding-right: 0.25rem !important }
    .sm\:pr2 { padding-right: 0.5rem !important }
    .sm\:pr3 { padding-right: 1rem !important }
    .sm\:pr4 { padding-right: 1.5rem !important }
    .sm\:pr5 { padding-right: 2rem !important }
    .sm\:pr6 { padding-right: 2.5rem !important }
    .sm\:pr7 { padding-right: 3rem !important }
    .sm\:pr8 { padding-right: 4rem !important }
    .sm\:pr9 { padding-right: 5rem !important }
    .sm\:pr10 { padding-right: 6rem !important }
    
    .sm\:r0 { border-radius: 0 }
    .sm\:r1 { border-radius: 2px }
    .sm\:r2 { border-radius: 4px }
    .sm\:r3 { border-radius: 6px }
    .sm\:r4 { border-radius: 8px }
    .sm\:r5 { border-radius: 10px }
    .sm\:r6 { border-radius: 12px }
    .sm\:r7 { border-radius: 16px }
    .sm\:r8 { border-radius: 20px }
    .sm\:r9 { border-radius: 26px }
    .sm\:r10 { border-radius: 32px }
    .sm\:r100 { border-radius: 100% }
    
    .sm\:sh0 { box-shadow: none }
    .sm\:sh1 { box-shadow: 0 4px 20px rgba(0,0,0,.05) }
    .sm\:sh2 { box-shadow: 0 4px 20px rgba(0,0,0,.1) }
    .sm\:sh3 { box-shadow: 0 4px 20px rgba(0,0,0,.15) }
    .sm\:sh4 { box-shadow: 0 4px 20px rgba(0,0,0,.2) }
    
    .sm\:o0 { order: 0 }
    .sm\:o1 { order: 1 }
    .sm\:o2 { order: 2 }
    .sm\:o3 { order: 3 }
    .sm\:o4 { order: 4 }
    .sm\:o5 { order: 5 }
    .sm\:o6 { order: 6 }
    .sm\:o7 { order: 7 }
    .sm\:o8 { order: 8 }
    .sm\:o9 { order: 9 }
    .sm\:o10 { order: 10 }
}
