/*---------------------------
_helpers.css
auto

Created by andreyshpigunov on 25.05.2021.
---------------------------*/

/* Helpers
   Small help for you code. */

:root {
    --container-max-width: 1440px;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}
.unselectable,
.unselectable * {
    user-select: none;
}
.clear {
    &:after {
        content: "";
        display: table;
        width: 100%;
        clear: both;
    }
}
.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.lowercase {
    text-transform: lowercase;
}
.nowrap {
    white-space: nowrap;
}
.hyphens {
    hyphens: auto;
}
.video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video {
    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.break-word {
    overflow-wrap: break-word;
}
.visuallyhidden {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.hidden,
.hidden-next + * {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
.table-responsive {
    overflow-x: auto;
}

.mt0 { margin-top: 0 }
.mt1 { margin-top: .25rem }
.mt2 { margin-top: .5rem }
.mt3 { margin-top: 1rem }
.mt4 { margin-top: 2rem }
.mt5 { margin-top: 3rem }

.mb0 { margin-bottom: 0 }
.mb1 { margin-bottom: .25rem }
.mb2 { margin-bottom: .5rem }
.mb3 { margin-bottom: 1rem }
.mb4 { margin-bottom: 2rem }
.mb5 { margin-bottom: 3rem }

.ml0 { margin-left: 0 }
.ml1 { margin-left: .25rem }
.ml2 { margin-left: .5rem }
.ml3 { margin-left: 1rem }
.ml4 { margin-left: 2rem }
.ml5 { margin-left: 3rem }
.mla { margin-left: auto }

.mr0 { margin-right: 0 }
.mr1 { margin-right: .25rem }
.mr2 { margin-right: .5rem }
.mr3 { margin-right: 1rem }
.mr4 { margin-right: 2rem }
.mr5 { margin-right: 3rem }
.mra { margin-right: auto }

.mxa {
    margin-left: auto;
    margin-right: auto;
}
.mx0 {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 1023px) {
    .md\:.mt0 { margin-top: 0 }
    .md\:.mt1 { margin-top: .25rem }
    .md\:.mt2 { margin-top: .5rem }
    .md\:.mt3 { margin-top: 1rem }
    .md\:.mt4 { margin-top: 2rem }
    .md\:.mt5 { margin-top: 3rem }
    
    .md\:.mb0 { margin-bottom: 0 }
    .md\:.mb1 { margin-bottom: .25rem }
    .md\:.mb2 { margin-bottom: .5rem }
    .md\:.mb3 { margin-bottom: 1rem }
    .md\:.mb4 { margin-bottom: 2rem }
    .md\:.mb5 { margin-bottom: 3rem }
    
    .md\:.ml0 { margin-left: 0 }
    .md\:.ml1 { margin-left: .25rem }
    .md\:.ml2 { margin-left: .5rem }
    .md\:.ml3 { margin-left: 1rem }
    .md\:.ml4 { margin-left: 2rem }
    .md\:.ml5 { margin-left: 3rem }
    .md\:.mla { margin-left: auto }
    
    .md\:.mr0 { margin-right: 0 }
    .md\:.mr1 { margin-right: .25rem }
    .md\:.mr2 { margin-right: .5rem }
    .md\:.mr3 { margin-right: 1rem }
    .md\:.mr4 { margin-right: 2rem }
    .md\:.mr5 { margin-right: 3rem }
    .md\:.mra { margin-right: auto }
    
    .md\:.mxa {
        margin-left: auto;
        margin-right: auto;
    }
    .md\:.mx0 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 639px) {
    .sm\:.mt0 { margin-top: 0 }
    .sm\:.mt1 { margin-top: .25rem }
    .sm\:.mt2 { margin-top: .5rem }
    .sm\:.mt3 { margin-top: 1rem }
    .sm\:.mt4 { margin-top: 2rem }
    .sm\:.mt5 { margin-top: 3rem }
    
    .sm\:.mb0 { margin-bottom: 0 }
    .sm\:.mb1 { margin-bottom: .25rem }
    .sm\:.mb2 { margin-bottom: .5rem }
    .sm\:.mb3 { margin-bottom: 1rem }
    .sm\:.mb4 { margin-bottom: 2rem }
    .sm\:.mb5 { margin-bottom: 3rem }
    
    .sm\:.ml0 { margin-left: 0 }
    .sm\:.ml1 { margin-left: .25rem }
    .sm\:.ml2 { margin-left: .5rem }
    .sm\:.ml3 { margin-left: 1rem }
    .sm\:.ml4 { margin-left: 2rem }
    .sm\:.ml5 { margin-left: 3rem }
    .sm\:.mla { margin-left: auto }
    
    .sm\:.mr0 { margin-right: 0 }
    .sm\:.mr1 { margin-right: .25rem }
    .sm\:.mr2 { margin-right: .5rem }
    .sm\:.mr3 { margin-right: 1rem }
    .sm\:.mr4 { margin-right: 2rem }
    .sm\:.mr5 { margin-right: 3rem }
    .sm\:.mra { margin-right: auto }
    
    .sm\:.mxa {
        margin-left: auto;
        margin-right: auto;
    }
    .sm\:.mx0 {
        margin-left: 0;
        margin-right: 0;
    }
}
