/*---------------------------
_links.css
auto

Created by andreyshpigunov on 25.05.2021.
---------------------------*/

/* Links styles */

:root {
    --link-color: #0477cc;
    --link-border-style: solid;
    --link-border-width: 1px;
    --link-border-color: #0477cc44;
    
    --link-color-hover: #f40000;
    --link-border-color-hover: var(--link-color-hover);
    
    --link-color-visited: var(--link-color);
    --link-border-color-visited: #0477cc44;
    
    --link-decoration: none;
    --link-decoration-hover: none;
    --link-decoration-pseudo: none;
}

a {

    &:link, &.link {
        outline: none;
        cursor: pointer;
        color: var(--link-color);
        border-bottom-style: var(--link-border-style);
        border-bottom-width: var(--link-border-width);
        border-bottom-color: var(--link-border-color);
        text-decoration: var(--link-decoration);
    }
    &:visited {
        color: var(--link-color-visited);
        border-bottom-color: var(--link-border-color-visited);
    }
    &:hover, &.hover,
    &:active, &.active {
        color: var(--link-color-hover);
        border-bottom-color: var(--link-border-color-hover);
        text-decoration: var(--link-decoration-hover);
    }
    &.pseudo {
        border-bottom-style: dotted;
        text-decoration-style: var(--link-decoration-pseudo);
    }
}


/* Remove underline from phones */

a[href^="tel"],
a[href^="tel"]:hover,
a[href^="tel"]:active {
    color: inherit !important;
    text-decoration: inherit !important;
    border: inherit !important;
}
