/*---------------------------
_forms.scss
Forms decorations.

Created by Andrey Shpigunov on 15.12.2020.
---------------------------*/

// Forms
$forms-width: 400px !default;
$forms-padding: 0.4rem 0.6rem !default;
$forms-font-size: 1rem !default;
$forms-border-width: 1px !default;
$forms-border-radius: 4px !default;
$forms-border-color: #ddd !default;
$forms-border-color-focused: #8cf !default;
$forms-border-color-error: #f00 !default;
$forms-border-color-readonly: #ddd !default;
$forms-border-color-disabled: #ddd !default;
$forms-background-color-readonly: #f8f8f8 !default;
$forms-background-color-disabled: #f6f6f6 !default;
$forms-font-color: #000 !default;
$forms-font-color-readonly: #000 !default;
$forms-font-color-disabled: #888 !default;
$forms-font-color-placeholder: #ccc !default;

input,
textarea,
select,
button {
	max-width: 100%;
	font-family: $font-family;
	box-sizing: border-box;
	box-shadow: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
textarea {
	position: relative;
	width: $forms-width;
	margin: 0;
	padding: $forms-padding;
	font-size: $forms-font-size;
	color: $forms-font-color;
	outline: none;
	border-width: $forms-border-width;
	border-style: solid;
	border-color: $forms-border-color;
	border-radius: $forms-border-radius;
	appearance: none;

	&:focus {
		border-color: $forms-border-color-focused;
		box-shadow: 0 0 0 1px $forms-border-color-focused;
	}
	&.error {
		border-color: $forms-border-color-error;

		&:focus {
			border-color: $forms-border-color-error;
			box-shadow: 0 0 0 1px $forms-border-color-error;
		}
	}
}

textarea {
	line-height: 1.4;
	vertical-align: bottom;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
textarea,
select {
	&[readonly],
	&[readonly]:focus {
		color: $forms-font-color-readonly;
		border-color: $forms-border-color-readonly;
		background-color: $forms-background-color-readonly;
		box-shadow: none;
	}
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
textarea,
select {
	&[disabled],
	&[disabled]:focus {
		color: $forms-font-color-disabled;
		border-color: $forms-border-color-disabled;
		background-color: $forms-background-color-disabled;
		cursor: not-allowed !important;
		box-shadow: none;
	}
}

::placeholder {
	color: $forms-font-color-placeholder;
}

input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}
