/*-------------------------------------
_forms.scss
auto

Created by Andrey Shpigunov on 09.05.2021
Copyright © 2021 . All rights reserved.
-------------------------------------*/



/* Forms */

input, textarea,
select, button {
    max-width: 100%;
    font-family: var(--font-family);
    box-sizing: border-box;
    box-shadow: none;
}
/* textarea {
    line-height: 1.4;
    vertical-align: bottom;
} */

input:not([type="submit"]),
textarea {
    position: relative;
    width: var(--forms-width);
    margin: 0;
    padding: var(--forms-padding);
    font-size: var(--forms-font-size);
    color: var(--forms-font-color);
    outline: none;
    border-width: var(--forms-border-width);
    border-style: solid;
    border-color: var(--forms-border-color);
    border-radius: var(--forms-border-radius);
    appearance: none;
    
    &:focus {
        border-color: var(--forms-border-color-focused);
        box-shadow: 0 0 0 1px var(--forms-border-color-focused);
    }
    &.error {
        border-color: var(--forms-border-color-error);
    }
    &:focus.error {
        border-color: var(--forms-border-color-error);
        box-shadow: 0 0 0 1px var(--forms-border-color-error);
    }
}



input:not([type="submit"]),
textarea, select {
    
    &[readonly],
    &[readonly]:focus {
        color: var(--forms-font-color-readonly);
        border-color: var(--forms-border-color-readonly);
        background-color: var(--forms-background-color-readonly);
        box-shadow: none;
    }
    &[disabled],
    &[disabled]:focus {
        color: var(--forms-font-color-disabled);
        border-color: var(--forms-border-color-disabled);
        background-color: var(--forms-background-color-disabled);
        cursor: not-allowed !important;
        box-shadow: none;
    }
}

::placeholder {
    color: var(--forms-font-color-placeholder);
}

input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
    text-overflow: ellipsis;
}
