/*---------------------------
docs.css
auto

Created by andreyshpigunov on 25.05.2021.
---------------------------*/


@import "./auto.css";


@media (prefers-color-scheme: dark) {
    :root {
        --link-color: #8bcdff;
        --link-color-hover: #8bcdff;
        --link-color-visited: #8bcdff;
        --link-border-color: #8bcdff66;
    }
}


main {
    background: #fff;
    padding: 30px 30px 30px 240px;

    @media (max-width: 1023px) {
        & {
            padding: 30px 20px 30px 240px;
        }
    }
    @media (max-width: 639px) {
        & {
            padding: 80px 20px 30px 20px;
        }
    }
    @media (prefers-color-scheme: dark) {
        & {
            background: #111;
            color: #fff;
        }
    }
}


h2 {
    font-size: 3rem;
    font-weight: 700;

    @media (max-width: 639px) {
        & {
            font-size: 2.4rem;
        }
    }
}


.ruler {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    padding: 0 10px;
    line-height: 26px;
    font-size: .8rem;
    color: #fff;
    background: #222;
    border-radius: 6px;
}


.headerMenu {
    height: 60px;
    margin-bottom: 30px;

    & ul {
        display: flex;
        align-items: center;
        height: 60px;
        list-style: none;
        padding: 0;

        & li {
            margin-right: 20px;

            &.active {
                font-weight: 700;
            }
            & a {
                transition: all .15s;
            }
        }
    }

    @media (max-width: 639px) {
        & {
            display: none;
        }
    }
}


.headerMenuMobile {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-bottom: solid 1px #eee;

    @media (max-width: 639px) {
        & {
            display: block;
            font-size: .9rem;
        }
    }
    @media (prefers-color-scheme: dark) {
        & {
            background: #000;
            border-bottom: solid 1px #444;
        }
    }

    & ul {
        display: flex;
        align-items: center;
        height: 50px;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: 639px) {
            & {
                justify-content: space-between;
            }
        }
    }
    & li {
        margin: 0 20px 0 0;

        &.active {
            font-weight: 700;
        }
        & a {
            transition: all .15s;
        }

        @media (max-width: 639px) {
            & {
                margin-right: 0;
            }
        }
    }
}


.headerMenuMobile-button {
    position: relative;
    width: 70px;
    height: 40px;
    cursor: pointer;

    & i {
        display: block;
        position: absolute;
        left: 0;
        width: 26px;
        height: 2px;
        background: #000;

        &:nth-child(1) {
            top: 11px;
        }
        &:nth-child(2) {
            top: 19px;
        }
        &:nth-child(3) {
            top: 27px;
        }

        @media (prefers-color-scheme: dark) {
            & {
                background: #fff;
            }
        }
    }
}



.headerMenuMobile-logo {
    width: 30px;
    height: 30px;

    & img {
        display: block;
        width: 30px;
        height: 30px;

        @media (prefers-color-scheme: dark) {
            & {
                display: none;
            }
        }
    }
    & img.-light {
        display: none;

        @media (prefers-color-scheme: dark) {
            & {
                display: block;
            }
        }
    }
}
.headerMenuMobile-github {
    width: 70px;
    text-align: right;
}



@media (max-width: 639px) {

    html.showMenu {
        & .headerMenuMobile-button {
            & i {
                &:nth-child(1) {
                    top: 19px;
                    transform: rotate(45deg);
                    transform-origin: center;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    top: 19px;
                    transform: rotate(-45deg);
                    transform-origin: center;
                }
            }
        }
    }
}



.sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    padding: 30px;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    will-change: transform;
    transform: translateX(0);
    transition: transform .2s ease-out;

    @media (max-width: 1023px) {
        & {
            width: 220px;
            padding: 30px 20px;
        }
    }

    @media (prefers-color-scheme: dark) {
        & {
            background: #111;
        }
    }

    @media (max-width: 639px) {
        & {
            top: 50px;
            border-right: solid 1px #eee;
            transform: translateX(-261px);
        }

        @media (prefers-color-scheme: dark) {
            & {
                border-right: solid 1px #444;
            }
        }
    }

    & nav {
        
        & ul {
            margin-top: 20px;
        }
    
        & li {

            & > a {
                display: block;
                margin: 0 -12px;
                padding: 6px 12px;
                font-size: .9rem;
                color: #111;
                text-decoration: none;
                border: none;
                border-radius: 8px;

                &:hover {
                    color: #111;
                    background: #f8f8f8;
                }

                @media (prefers-color-scheme: dark) {
                    & {
                        color: #eee;

                        &:hover {
                            color: #fff;
                            background: #333;
                        }
                    }
                }

                &.active {
                    color: #fff;
                    background: #CD00BE;
                }
            }
        }
    }
}



@media (max-width: 639px) {
    html.showMenu {
        & .sidebar {
            transform: translateX(0);
        }
    }
}


.sidebar-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;

    @media (max-width: 639px) {
        & {
            display: none;
        }
    }

    & img {
        display: block;
        width: 100px;
        height: 100px;

        @media (prefers-color-scheme: dark) {
            & {
                display: none;
            }
        }

        &.-light {
            display: none;

            @media (prefers-color-scheme: dark) {
                & {
                    display: block;
                }
            }
        }
    }
}



section {
    margin-top: 30px;
    padding: calc(35px - 1em) 35px 35px 35px;
    background: #f8f8f8;
    border-radius: 12px;

    @media (max-width: 639px) {
        & {
            margin-left: -10px;
            margin-right: -10px;
            padding: 15px;
        }
    }

    @media (prefers-color-scheme: dark) {
        & {
            background: #333;
        }
    }

    & h2 {
        margin: 1rem 0;
        font-size: 2.1rem;
        font-weight: 700;
        color: #000;

        @media (max-width: 639px) {
            & {
                font-size: 1.6rem;
            }
        }

        @media (prefers-color-scheme: dark) {
            & {
                color: #fff;
            }
        }
    }

    & h3 {
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: #000;

        @media (max-width: 639px) {
            & {
                font-size: 1.1rem;
            }
        }

        @media (prefers-color-scheme: dark) {
            & {
                color: #fff;
            }
        }
    }

    & p {
        color: #111;

        @media (prefers-color-scheme: dark) {
            & {
                color: #eee;
            }
        }
    }

    & code {
        margin: 0 2px;
        font-family: var(--font-family-mono);
        font-size: .9rem;
        color: #000;
        background: #fff;
        outline: solid 2px #fff;

        @media (prefers-color-scheme: dark) {
            & {
                color: #fff;
                background: #444;
                outline: solid 2px #444;
            }
        }
    }

    & table {

        & tr {

            & td {
                border: 1px solid #eee;
                padding: 5px;
                font-size: .9rem;
            }
        }
    }
}
