/*---------------------------
_functions.scss
SCSS functions.

Created by Andrey Shpigunov on 15.12.2020.
---------------------------*/

// Contrast font color

$dark-text-default: #000 !default;
$light-text-default: #fff !default;

@function scss_brightness($color) {
	@return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
}

@function scss_contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
	@if $color == null {
		@return null;
	}
	@else {
		$color-brightness: scss_brightness($color);  
		$light-text-brightness: scss_brightness($light);
		$dark-text-brightness: scss_brightness($dark);
		
		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness) * 0.2, $light, $dark);  
	}
}